#shellContainer {
/*
	font-family:"Tahoma","Geneva",sans-serif;
 */
}
.shell {
	margin-top: 15px;
}
.shellCloseButton {
	float:right;
}
.shellPrompt {
}
.shellInput:focus {
	outline: none;
}
[contenteditable]:focus { outline: 0px solid transparent; }

.nodeEditorLabel {
	background-color: rgb(246,246,246);
	text-align: center;
	margin-top:5px;
}
.nodeEditorData {
	background-color: rgb(246,246,246);
	margin-top:5px;
	width:100%;
	border: 0px solid black
}