button {
	border: 0px solid black;
	border-radius: 10px;
	color: rgb(50,50,50);
}

#shellContainer {
/*
	font-family:"Tahoma","Geneva",sans-serif;
 */
}
.shell {
	margin-top: 15px;
}
.shellCloseButton {
	float:right;
}
.shellPrompt {
/*	border-radius: 10px;
	color: rgb(250,250,250);
	background-color: rgb(230,230,230);
	padding: 3px;
	margin-right: 3px;
*/
}
.shellInput:focus {
	outline: none;
/*	margin-left: 3px;
*/}
[contenteditable]:focus { outline: 0px solid transparent; }

.nodeEditorLabel {
	background-color: rgb(246,246,246);
	text-align: center;
	margin-top:5px;
}
.nodeEditorData {
	background-color: rgb(246,246,246);
	margin-top:5px;
	width:100%;
	border: 0px solid black
}