body {
	height: 100%;
}

.column {
	display:inline-block;
	vertical-align:text-top;
}
.node {
	background-color: rgb(246,246,246);
	display: inline;
	padding: 5px;
}
.selectedNode {
	border:1px solid black;
	border-radius:5px;
	background-color: white;
	display: inline;
	padding: 5px;
}
.nodeWrapper {
	margin-top: 15px;
	margin-right: 5px;
}
.UI {
	display: inline-block;
	border-top:5px solid rgb(163,163,163);
	border-radius:5px;
	margin: 5px;
	padding: 5px;
	  font-family:"Tahoma","Geneva",sans-serif;
	font-size:small;
	/*
	font-family:"Comic Sans MS","cursive",sans-serif;
	  */
	color: #777777;
	min-width:30px;
	min-height:30px;
}
.UILabel {
	font-family:"Tahoma","Geneva",sans-serif;
	color: #CCCCCC;
	text-align:right;
	font-size:small;
}
#colsView {
}
#buffer {
}
#newNodeDiv {
}
#nodeEditor {
}
#todoDiv {
}
#nodeEditorData {
	/*background-color: #ddddFF;
	font-family:"Tahoma","Geneva",sans-serif;
	border: none ;
	*/
	font-family:"Tahoma","Geneva",sans-serif;
	color: #777777;
	background-color: rgb(246,246,246);
	border:2px solid rgb(163,163,163);
	padding: 5px;
	height: 300px;
	/*width:300px;*/
	width:90%;
	margin-top:10px;
}
#nodeEditorLabel {
	font-family:"Tahoma","Geneva",sans-serif;
	color: #777777;
	background-color: rgb(246,246,246);
	border:2px solid rgb(163,163,163);
	padding: 5px;
}
#newLink {
	background-color: rgb(246,246,246);
	border:2px solid rgb(163,163,163);
	border-radius:5px;
}

#connexionDivId {
	  font-family:"Tahoma","Geneva",sans-serif;
	color: #777777;
	text-align:right;
}
.ContextDefinition {
	margin: 3px;
}
.ContextResultSet {
}
